# importing packages

In [1]:
import mysql.connector
import pandas as pd

In [1]:
%cd C:\Users\shrav\Data_Analysis_Projects\Big Projects\Project Dream Air\Datasets

C:\Users\shrav\Data_Analysis_Projects\Big Projects\Project Dream Air\Datasets

In [2]:
def large_sql_writer(csv_file: str, insert_query: str) -> None:
    
    connection = mysql.connector.connect(user='root', password='password',
                                         host='localhost',
                                         database='dreamair')
    cursor = connection.cursor()
    df = pd.read_csv(csv_file)
    data = list(df.itertuples(index=False, name=None))
    batch_size = 20000
    num_of_records = len(data)
    try:
        for i in range(0, num_of_records, batch_size):
            batch = data[i:i + batch_size]  # Get a batch of data
            cursor.executemany(insert_query, batch)  # Insert batch
            connection.commit()  # Commit after each batchx

        print(f"All {len(data)} rows of {csv_file} were inserted successfully.")

    except mysql.connector.Error as err:
        print(f"Error: {err}")
        connection.rollback()  # Rollback if there's an error

    finally:
        cursor.close()
        connection.close()

In [3]:
def small_sql_writer(csv_file: str, insert_query: str) -> None:
    
    connection = mysql.connector.connect(user='root', password='password',
                                         host='localhost',
                                         database='dreamair')
    cursor = connection.cursor()
    df = pd.read_csv(csv_file)
    data = list(df.itertuples(index=False, name=None))
    try:
        cursor.executemany(insert_query, data)
        connection.commit()  # Commit the transaction
        print(f"{cursor.rowcount} rows of {csv_file} were inserted.")

    except mysql.connector.Error as err:
        print(f"Error: {err}")
        connection.rollback()  # Rollback if there's an error

    finally:
        cursor.close()
        connection.close()

In [4]:
# 1
DreamAir_Airports = "DreamAir_Airports.csv"
DreamAir_Airports_query = "INSERT INTO DreamAir_Airports VALUES (%s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_Airports, DreamAir_Airports_query)

14 rows of DreamAir_Airports.csv were inserted.

In [5]:
# 2
DreamAir_Aircraft = "DreamAir_Aircraft.csv"
DreamAir_Aircraft_query = "INSERT INTO DreamAir_Aircraft VALUES (%s, %s, %s, %s)"
small_sql_writer(DreamAir_Aircraft, DreamAir_Aircraft_query)

75 rows of DreamAir_Aircraft.csv were inserted.

In [6]:
# 3
DreamAir_2018_Customers = "DreamAir_2018_Customers.csv"
DreamAir_2018_Customers_query = "INSERT INTO DreamAir_2018_Customers VALUES (%s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2018_Customers, DreamAir_2018_Customers_query)

All 275236 rows of DreamAir_2018_Customers.csv were inserted successfully.

In [7]:
# 4
DreamAir_2019_Customers = "DreamAir_2019_Customers.csv"
DreamAir_2019_Customers_query = "INSERT INTO DreamAir_2019_Customers VALUES (%s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2019_Customers, DreamAir_2019_Customers_query)

All 396452 rows of DreamAir_2019_Customers.csv were inserted successfully.

In [8]:
# 5
DreamAir_2020_Customers = "DreamAir_2020_Customers.csv"
DreamAir_2020_Customers_query = "INSERT INTO DreamAir_2020_Customers VALUES (%s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2020_Customers, DreamAir_2020_Customers_query)

All 351426 rows of DreamAir_2020_Customers.csv were inserted successfully.

In [9]:
# 5
DreamAir_2021_Customers = "DreamAir_2021_Customers.csv"
DreamAir_2021_Customers_query = "INSERT INTO DreamAir_2021_Customers VALUES (%s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2021_Customers, DreamAir_2021_Customers_query)

All 412536 rows of DreamAir_2021_Customers.csv were inserted successfully.

In [10]:
# 6
DreamAir_Routes = "DreamAir_Routes.csv"
DreamAir_Routes_query = "INSERT INTO DreamAir_Routes values (%s, %s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_Routes, DreamAir_Routes_query)

182 rows of DreamAir_Routes.csv were inserted.

In [11]:
# 7
Hike_Dates = "Hike_Dates.csv"
Hike_Dates_query = "INSERT INTO Hike_Dates VALUES (%s)"
small_sql_writer(Hike_Dates, Hike_Dates_query)

280 rows of Hike_Dates.csv were inserted.

In [4]:
# 8
DreamAir_Job_Roles = "DreamAir_Job_Roles.csv"
DreamAir_Job_Roles_query = "INSERT INTO DreamAir_Job_Roles VALUES (%s, %s, %s)"
small_sql_writer(DreamAir_Job_Roles, DreamAir_Job_Roles_query)

28 rows of DreamAir_Job_Roles.csv were inserted.

In [5]:
# 9
DreamAir_Ground_Staffs = "DreamAir_Ground_Staffs.csv"
DreamAir_Ground_Staffs_query = "INSERT INTO DreamAir_Ground_Staffs VALUES (%s, %s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_Ground_Staffs, DreamAir_Ground_Staffs_query)

212 rows of DreamAir_Ground_Staffs.csv were inserted.

In [6]:
# 10
DreamAir_On_Flight_Staffs = "DreamAir_On_Flight_Staffs.csv"
DreamAir_On_Flight_Staffs_query = "INSERT INTO DreamAir_On_Flight_Staffs VALUES (%s, %s, %s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_On_Flight_Staffs, DreamAir_On_Flight_Staffs_query)

2175 rows of DreamAir_On_Flight_Staffs.csv were inserted.

In [16]:
# 12
DreamAir_2018_Schedule = "DreamAir_2018_Schedule.csv"
DreamAir_2018_Schedule_query = "INSERT INTO DreamAir_2018_Schedule VALUES (%s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_2018_Schedule, DreamAir_2018_Schedule_query)

5787 rows of DreamAir_2018_Schedule.csv were inserted.

In [17]:
# 13
DreamAir_2019_Schedule = "DreamAir_2019_Schedule.csv"
DreamAir_2019_Schedule_query = "INSERT INTO DreamAir_2019_Schedule VALUES (%s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_2019_Schedule, DreamAir_2019_Schedule_query)

5787 rows of DreamAir_2019_Schedule.csv were inserted.

In [18]:
# 14
DreamAir_2020_Schedule = "DreamAir_2020_Schedule.csv"
DreamAir_2020_Schedule_query = "INSERT INTO DreamAir_2020_Schedule VALUES (%s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_2020_Schedule, DreamAir_2020_Schedule_query)

5802 rows of DreamAir_2020_Schedule.csv were inserted.

In [19]:
DreamAir_2021_Schedule = "DreamAir_2021_Schedule.csv"
DreamAir_2021_Schedule_query = "INSERT INTO DreamAir_2021_Schedule VALUES (%s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_2021_Schedule, DreamAir_2021_Schedule_query)

5787 rows of DreamAir_2021_Schedule.csv were inserted.

In [20]:
# 15
DreamAir_2018_Orders = "DreamAir_2018_Orders.csv"
DreamAir_2018_Orders_query = "INSERT INTO DreamAir_2018_Orders VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2018_Orders, DreamAir_2018_Orders_query)

All 937860 rows of DreamAir_2018_Orders.csv were inserted successfully.

In [21]:
# 16
DreamAir_2019_Orders = "DreamAir_2019_Orders.csv"
DreamAir_2019_Orders_query = "INSERT INTO DreamAir_2019_Orders VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2019_Orders, DreamAir_2019_Orders_query)

All 994298 rows of DreamAir_2019_Orders.csv were inserted successfully.

In [22]:
# 17
DreamAir_2020_Orders = "DreamAir_2020_Orders.csv"
DreamAir_2020_Orders_query = "INSERT INTO DreamAir_2020_Orders VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2020_Orders, DreamAir_2020_Orders_query)

All 893923 rows of DreamAir_2020_Orders.csv were inserted successfully.

In [23]:
# 17
DreamAir_2021_Orders = "DreamAir_2021_Orders.csv"
DreamAir_2021_Orders_query = "INSERT INTO DreamAir_2021_Orders VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
large_sql_writer(DreamAir_2021_Orders, DreamAir_2021_Orders_query)

All 976649 rows of DreamAir_2021_Orders.csv were inserted successfully.

In [24]:
# 18
DreamAir_2018_Cancellations = "DreamAir_2018_Cancellations.csv"
DreamAir_2018_Cancellations_query = """INSERT INTO DreamAir_2018_Cancellations (Orders_ID, cancellation_date) VALUES (%s, %s)"""
large_sql_writer(DreamAir_2018_Cancellations, DreamAir_2018_Cancellations_query)

All 44660 rows of DreamAir_2018_Cancellations.csv were inserted successfully.

In [25]:
# 19
DreamAir_2019_Cancellations = "DreamAir_2019_Cancellations.csv"
DreamAir_2019_Cancellations_query = """INSERT INTO DreamAir_2019_Cancellations (Orders_ID, cancellation_date) VALUES (%s, %s)"""
large_sql_writer(DreamAir_2019_Cancellations, DreamAir_2019_Cancellations_query)

All 73651 rows of DreamAir_2019_Cancellations.csv were inserted successfully.

In [26]:
# 20
DreamAir_2020_Cancellations = "DreamAir_2020_Cancellations.csv"
DreamAir_2020_Cancellations_query = """INSERT INTO DreamAir_2020_Cancellations (Orders_ID, cancellation_date) VALUES (%s, %s)"""
large_sql_writer(DreamAir_2020_Cancellations, DreamAir_2020_Cancellations_query)

All 81265 rows of DreamAir_2020_Cancellations.csv were inserted successfully.

In [27]:
# 20
DreamAir_2021_Cancellations = "DreamAir_2021_Cancellations.csv"
DreamAir_2021_Cancellations_query = """INSERT INTO DreamAir_2021_Cancellations (Orders_ID, cancellation_date) VALUES (%s, %s)"""
large_sql_writer(DreamAir_2021_Cancellations, DreamAir_2021_Cancellations_query)

All 55282 rows of DreamAir_2021_Cancellations.csv were inserted successfully.

In [28]:
# 21
DreamAir_Seat_Info = "DreamAir_Seat_Info.csv"
DreamAir_Seat_Info_Query = "INSERT INTO DreamAir_Seat_Info VALUES (%s, %s, %s)"
small_sql_writer(DreamAir_Seat_Info, DreamAir_Seat_Info_Query)

12149 rows of DreamAir_Seat_Info.csv were inserted.

In [4]:
DreamAir_Seat_Info = "Field Expenses By Year.csv"
DreamAir_Seat_Info_Query = "INSERT INTO Field_Expense_Per_Year VALUES (%s, %s)"
small_sql_writer(DreamAir_Seat_Info, DreamAir_Seat_Info_Query)

5 rows of Field Expenses By Year.csv were inserted.

In [5]:
DreamAir_Seat_Info = "Expenses by Field.csv"
DreamAir_Seat_Info_Query = "INSERT INTO Expense_by_Field VALUES (%s, %s, %s)"
small_sql_writer(DreamAir_Seat_Info, DreamAir_Seat_Info_Query)

45 rows of Expenses by Field.csv were inserted.

In [11]:
DreamAir_Seat_Info = "Expenses Detail.csv"
DreamAir_Seat_Info_Query = "INSERT INTO Expense_detailed VALUES (%s, %s, %s, %s, %s)"
small_sql_writer(DreamAir_Seat_Info, DreamAir_Seat_Info_Query)

1553 rows of Expenses Detail.csv were inserted.